@model IList<ProductOverviewModel>
@using Nop.Core.Domain.Orders
@if (Model.Count > 0)
{
    <div class="more-product">
        <div class="head-product">
            <div class="title">
                <h5>@T("Products.RelatedProducts")</h5>
            </div>
            <a class="btn-sm-black btn-border">
                <span class="btn-sm text-black-light  font-normal">shop now</span>
            </a>
        </div>

        <div class="slide-container">
            <div id="slide-left" class="arrow-prev">&lt;</div>
            <section class="container" id="slider">
                @foreach (var item in Model)
                {
                    //prepare "Add to cart" AJAX link
                    var addtocartlink = "";
                    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
                    var quantity = 1;
                    if (item.ProductPrice.ForceRedirectionAfterAddingToCart)
                    {
                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = item.ProductPrice.ForceRedirectionAfterAddingToCart });
                    }
                    else
                    {
                        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
                    }

                    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = item.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
                    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = item.Id });

                    <div class="thumbnail">
                        <img width="167" height="195" class="prod-img" alt="@item.DefaultPictureModel.AlternateText" data-src="@item.DefaultPictureModel.ImageUrl" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                        <div class="product-details">
                          
                            <a class="name-product text-black" href="@Url.RouteUrl("Product", new {SeName = item.SeName})">@item.Name</a>
                            <div class="price-product">
                                @if (!string.IsNullOrEmpty(item.ProductPrice.OldPrice))
                                {
                                    <del>@item.ProductPrice.Price</del>

                                    <br />
                                    <span class="price old-price">@item.ProductPrice.OldPrice</span>
                                }
                                else
                                {
                                    @item.ProductPrice.Price

                                }
                            </div>
                            <a class="add-cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                }
            </section>
            <div id="slide-right" class="arrow-next">&gt;</div>
        </div>
    </div>
}