@model SocialModel

@*<ul class="nav nav-list social-icons">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })"><i class="fa  fa-rss"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="@Model.YoutubeLink" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i></a></li>
    }
</ul>*@

@if (!string.IsNullOrEmpty(Model.FacebookLink))
{
    <a href="@Model.FacebookLink" target="_blank">
        <img alt="" class="social-media" src="../assets/img/share/facebook.png">
    </a>
}
@if (!string.IsNullOrEmpty(Model.TwitterLink))
{
    <a href="@Model.TwitterLink" target="_blank">
        <img alt="" class="social-media" src="../assets/img/share/twitter.png">
    </a>
}
<img alt="" class="social-media" src="../assets/img/share/instagram.png">
<img alt="" class="social-media" src="../assets/img/share/linkedin.png">
@if (!string.IsNullOrEmpty(Model.YoutubeLink))
{
    <a href="@Model.YoutubeLink" target="_blank">
        <img alt="" class="social-media" src="../assets/img/share/youtube.png">
    </a>
}